@model FastFistBlog.Server.Controllers.DTO.RegisterUserDto
@{
	ViewData["Title"] = "Регистрация";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h2>Регистрация</h2>

<form asp-action="Register" method="post">
	<div class="form-group">
		<label asp-for="UserName">Имя</label>
		<input asp-for="UserName" class="form-control" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password">Пароль</label>
		<input asp-for="Password" type="password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-success">Зарегистрироваться</button>
	<a asp-action="Login" class="btn btn-link">Вход</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}