@{
    ViewData["Title"] = "Что-то пошло не так";
}

<div class="text-center">
    <h1 class="display-4">😢 Упс!</h1>
    <p>Что-то пошло не так. Попробуйте снова позже.</p>
    <a class="btn btn-primary" href="/">Вернуться на главную</a>
</div>